* {
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    border-right: solid 2px blue;
    position: relative;
    left: 10px;

    
}

body {
    min-height: 100svh;
}

.hero-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

h1,
h2,
h3,
p {
    color: rgb(195 232 255);
}

h1 {
    font-size: 25px;
}

h2 {
    color: #fffffd;
    font-size: 20px;
    margin-bottom: 15px;
}

.card-container {
    background-color: rgba(0,0,0,255);
    display: flex;
    max-width: 500px;
    border-radius: 10px;
    
}

.img-container {
    z-index: 1;
    width: 800px;
}

.card-details {
    display: flex;
    gap: 20px;
    color: rgba(0,110,180,255);
}

.item {
    border: 1px black solid;
}

.label {
    color:#7e92ff;
}

.details-container {
    padding: 30px;
}

.description {
    margin-top: 20px;
}